/lesson-16/dist
/lesson-16/node_modules
/lesson-16/package-lock.json
/lesson-19-gulp-full/dist
/lesson-19-gulp-full/node_modules
/lesson-19-gulp-full/package-lock.json
/lesson-19-bootstrap/npm/dist
/lesson-19-bootstrap/npm/node_modules
/lesson-19-bootstrap/npm/package-lock.json